{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Booth Staff Duty Add{% endblock %}
{% block body %}
<br><br><br><br><br><br>

<center>
    <h2><font color="#366092">Booth Staff Duty Add</font></h2>
    <br>
	<div class="container">
		 <div class="row">
        <div class="col"></div>
            <div class="col">
    <form name="frm" role="form" action="{% url 'admin_booth_staff_master_add' %}" method="post" >
        {% csrf_token %}
		<input class="form-control" type="hidden"  id="election_booth_master_id"
               name="election_booth_master_id" value="{{election_booth_master_id}}" required="required">

        <div class="form-group">

            <select class="form-control" id="uname"  name="uname">
		            {% for  l in user_list%}
		        	<option value="{{l.uname}}">{{l.uname}}</option>
		            {% endfor %}
		        </select>

        </div>
        <br>
         <div class="form-group">
            <label for="user_role">Staff_role</label>
            <input class="form-control" type="text"  id="user_role"
                   name="user_role" placeholder="Enter Staff_role" required="required">
        </div>


    <br>

	   <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button><br>
            {{msg}}
    </form>

	</div>
			  <div class="col"></div>
		 </div>
	</div>
</center>
{% endblock %}