{% extends 'myapp/base2.html' %}
{% load static %}
{% block title %}
    Admin Login
{% endblock %}
{% block body %}
<body>
    <center>
        <br><br><br><br><br><br><br>
<div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 style="color:black">Admin Login</h1>
            <img src="{% static 'myapp/images/person.png'%}" width="150" height="150">


    <div class="container">
        <div class="row">
        <div class="col"></div>
            <div class="col">
    <form role="form" name="frm" method="post" action="{% url 'admin_login' %}" >
        {% csrf_token %}
        <div class="form-group">
            <label for="un" style="color:black">User Name :</label>
            <input class="form-control" type="text" name="un" id="un">
        </div>
        <div class="form-group">
            <label for="pwd" style="color:black">Password :</label>
            <input class="form-control" type="password" name="pwd" id="pwd">
        </div>
        <br>
        <button type="submit"
        class="btn btn-info" id="bt" name="bt" style="background-color:white">Login</button>
        <button type="reset"
        class="btn btn-info" id="rt" name="rt" style="background-color:white">Reset</button>

    </form>
    </div>
            <br>
            <div class="col"></div>
        </div>
    </div>
        {% autoescape off %}{{ msg1 }}{% endautoescape %}
    </center>

    <script src="{% static './myapp/scripts/loginscript.js' %}"></script>
</body>
<style>
body {
  width: 100%;
  height: 150vh;
  background: url("{% static './myapp/assets/img/vot1.png'%}") top center;
  background-size: cover;
  position: relative;
}
</style>

<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}