{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Block Chain Voting
{% endblock %}
<!--{% block background %}background="{% static './myapp/images/farmer.jpg' %}"{% endblock %}-->
{% block body %}
<center>
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Choose What's Best For Your Country,<br>Not Just Yourself</h1>
      <br>
      <h2>Your vote, Your Voice</h2>
<!--      <a href="courses.html" class="btn-get-started">Get Started</a>-->
    </div>
  </section><!-- End Hero -->
</center>
{% endblock %}